[submodule "WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
	branch = master
[submodule "TaskScheduler"]
	path = lib/TaskScheduler
	url = https://github.com/arkhipenko/TaskScheduler.git
	branch = master
[submodule "elapsedMillis"]
	path = lib/elapsedMillis
	url = https://github.com/pfeerick/elapsedMillis.git
	branch = master
[submodule "Adafruit_BNO08x"]
	path = lib/Adafruit_BNO08x
	url = https://github.com/adafruit/Adafruit_BNO08x.git
	branch = master
[submodule "SimpleKalmanFilter"]
	path = lib/SimpleKalmanFilter
	url = https://github.com/denyssene/SimpleKalmanFilter.git
	branch = master
[submodule "Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
	branch = master
[submodule "Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
	branch = master
